body {
  overflow-x: hidden;
}

.main-image {
  background: url('./images//bookimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
}

.filter:after {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#inputs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-4{
  margin-left: 5%;
}
.Favourite-section{
   display: grid;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.navbar{
  min-height: 100px;
}

.nav-menu{
  padding: 1%;
}
.nav-link  {
  text-decoration: none;
}


